header {
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0px;
    left: 0px;
    z-index: 1500;
    overflow: hidden;
}

.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #bdbdbd;
}

.codeFortressTimer {
    position: fixed;
    top: 0px;
    left: 38%;
    padding-top: 10px;
}

.codeFortressTitle {
	position: relative;
}

.QnAnswer {
	width: 75%;
	float: left;
}

.rigSideBar {
	width: 25%;
	float: left;
}

.routeMap {
	width: 25%;
	float: left;
}

.contentBar {
	width: 75%;
	float: left;
}

.conjuraLogo {
	width: 150px;
	float: left;
}

.OtherSection {
    position: relative;
    top: 150px;
}

.timerPart {
    position: fixed;
    top: -10px;
    right: 10px;	
}





.topli {
	color: #F44336;
    font-weight: 600;
	text-decoration: none;
}

.bottomli {
	color: #F44336;
	margin-left: 15px;
    font-weight: 400;
	text-decoration: none;
}

.topli {
	margin-bottom: 5px;
	margin-top: 10px;
}

li.unused {
	color: #ccc;
}

li.usable {
	color: #7cb342;
}

.topli:hover {
	text-decoration: underline;
	color: #F44336;
    font-weight: 600;	
}

.bottomli:hover {
	text-decoration: underline;
	color: #F44336;
    font-weight: 600;	
}

li.usable:hover {
	text-decoration: underline;
	color: #7cb342;
    font-weight: 500;	
}

li.active {
	text-decoration: underline;
    font-weight: 500;
}

li.disabled {
	color: #bdbdbd;
    font-weight: 300;
    cursor: default;
}

li.disabled:hover {
	text-decoration: none;
	color: #bdbdbd;
    font-weight: 300;
}

.well {
	height: 50px;
    background-color: #FAFAFA;
    margin: 15px 3px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 25px;
    padding: 5px 0px;
    color: #9CCC65;
}